@import "~bootstrap/scss/bootstrap";
$taintedwhite: #ebebeb;
/* Fade-In Effect */
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

/* Fade-Out Effect */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.land-container{
    background-color: $taintedwhite;
}
.navbar{
    position:sticky;
    top:0;
    z-index: 99;
}

.hero-image{
    filter: saturate(20%);
    position: relative;
    object-fit: contain;
} 

.floating-quote{
    position: absolute;
}

.team-logo{
    max-height: 30px;
    filter: saturate(75%);
}

.card-img-top{
    filter: saturate(50%);
}

.tester{
    background-color: red;
}
.list-group{
        .active{
            background-color: $dark;
            border-color: $secondary;
        }
}

#video-main-container{
    background-color: $taintedwhite;
}