@import "~bootstrap/scss/bootstrap";

.quote-box-animation {}

/* Fade-In Effect */
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

/* Fade-Out Effect */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}