@import "~bootstrap/scss/bootstrap";

.quote-box-animation {}

/* Fade-In Effect */
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

/* Fade-Out Effect */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.progress-end{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: $primary;
    position: relative;
    top: -0.75rem;
    left: -1.25rem;
    box-shadow: 0 0 .25rem  0.2rem rgba($black, .125);
}

.navbar{
    position:absolute;
    bottom:0;
    right:0;
    left:0
}

.hero-image{
    filter: saturate(20%);

} 

.floating-quote{
    position: absolute;
}